/node_modules
/public/hot
/public/storage
/public/uploads/photos/small/*
/public/uploads/small/*
/public/uploads/*
/storage/*.key
/vendor
/awstats
/stats
/~
.env
.env.backup
.phpunit.result.cache
/.vscode

docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/.htaccess